node_modules/

# number1/
# ├── controllers/
# │   ├── courseController.js
# │   └── userController.js
# ├── models/
# │   ├── Course.js
# │   └── User.js
# ├── routes/
# │   ├── courseRoutes.js
# │   └── userRoutes.js
# ├── app.js
# └── server.js
